.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  width: $con-width;
  padding-left: $con-pad-left;
  padding-right: $con-pad-right;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
